.feedback {
  width: 450px;
  max-width: 100%;
  margin: 10px auto;
}

@media (max-width: 767px) {
  .feedback .react-icon svg {
    font-size: 30px;
    margin-right: 10px;
  }
}

@media (max-width: 575px) {
  .feedback {
    width: 350px;
  }


  .feedback>div {
    padding: 15px 10px !important;
    margin: 0 0 10px 0;
  }

  .feedback .react-icon svg {
    font-size: 25px !important;
    margin-right: 7px !important;
  }
}

@media (max-width: 400px) {
  .feedback h3 {
    font-size: 18px;
  }

  .feedback {
    width: 100% !important;
  }

  .feedback .react-icon svg {
    font-size: 22px !important;
    margin-right: 5px !important;
  }
}

.feedback>div {
  background-color: var(--white-color);
  border-radius: 6px;
  padding: 15px;
  margin: 0 0 10px 0;
}

.feedback h3 {
  text-align: center;
  font-weight: bold;
}

.feedback p {
  text-align: center;
}

.feedback .react-icon svg {
  margin-right: 15px;
  font-size: 40px;
  cursor: pointer;
  transition: var(--main-transition);
  padding: 5px;
  border-radius: 50%;
  color: rgb(225, 225, 12);
  /* background-color: #eee; */
}

.feedback .react-icon svg:is(:hover, .active) {
  transform: scale(1.2);
  color: yellow;
  background-color: var(--main-color);
}

.feedback .form {
  position: relative;
  padding: 0 !important;
}

.feedback textarea {
  border: 1px solid var(--main-color);
  color: var(--black-color);
  width: 100%;
  height: 120px;
  margin: auto;
  padding: 10px;
  border-radius: 10px;
  resize: none;
}

.feedback .form button {
  background-color: var(--main-color);
  padding: 10px 15px;
  color: white;
  border-radius: 10px;
  width: 100%;
  transition: var(--main-transition);
}

.feedback .form button:hover {
  background-color: var(--hover-color);
}