.navbar {
  background-color: #ffffff10;
  background-color: var(--white-color);
  transition: var(--main-transition);
  z-index: 999;
  top: 0;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  box-shadow: 0 0 15px #817c7c;
}


.navbar .navbar-brand img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.navbar .navbar-toggler:focus {
  box-shadow: 0 0 10px var(--main-color) !important;
  transition: .3s;
}

.navbar .nav-link.active,
.navbar .nav-link:hover,
.navbar .dropdown-menu li a:hover {
  color: var(--main-color);
  transition: var(--main-transition);
}

.navbar .btn-close {
  margin-left: 10px;
  cursor: pointer;
  color: var(--red-color) !important;
}

@media (max-width: 767px) {
  .navbar-collapse {
    position: fixed;
    background: var(--white-color);
    text-align: center;
    padding: 15px 0;
    box-shadow: 0 0 45px var(--gray-color);
    top: 0;
    left: -100%;
    width: 350px;
    height: 100vh;
    z-index: 1000;
    transition: left .3s;
  }

  .navbar-collapse.show {
    left: 0;
  }
}

@media (max-width: 575px) {
  .navbar-collapse {
    width: 100%;
  }
}