.profile {
  margin-top: 72px;
  display: flex;
}

.profile .slider {
  background-color: var(--white-color);
  border-right: 1px solid var(--gray-color);
  box-shadow: 0 0 25px var(--gray-color);
  width: 200px;
  height: calc(100vh - 72px);
  display: flex;
  flex-direction: column;
}

@media (max-width: 767px) {
  .profile .slider {
    flex-direction: row;
    height: auto !important;
    width: 100%;
    box-shadow: none;
    margin-top: 10px;
  }

  .profile .slider h1 {
    font-size: 25px;
    padding: 10px;
  }

  .profile .slider ul {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0 10px;
  }

  .profile .slider ul li,
  button.log-out {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0;
    width: 70px;
    font-size: 14px !important;
  }

  .profile .slider ul li svg,
  button.log-out svg {
    margin: 0 !important;
  }

  .profile button.log-out {
    margin: 0 !important;
    width: 80px;
    padding: 0;
    margin: 0 15px !important;
    text-align: center;
  }

  .profile .info {
    flex-direction: column;

  }

  .info .text {
    text-align: center;
  }
}

@media (max-width: 575px) {
  .profile .slider h1 {
    font-size: 22px;
  }

  .profile .slider ul li span,
  button.log-out span {
    display: none;
  }

  .profile .slider ul li,
  button.log-out {
    width: 35px !important;
  }
}


.slider h1 {
  color: var(--black-color);
  padding: 20px 10px;
}

.slider ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.slider ul li,
button.log-out {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 10px 15px;
  width: 100%;
  border-radius: 6px;
  cursor: pointer;
  background-color: transparent;
  transition: var(--main-transition);
  font-size: 15px !important;
}

.slider ul li:hover :is(svg, span) {
  color: var(--main-color);
}

.slider ul li.active :is(svg, span) {
  color: var(--main-color);
}

.slider ul li svg,
button.log-out svg {
  color: black;
  font-size: 22px;
  margin-right: 10px;
  margin-left: 0;
  transition: var(--main-transition);
}

.log-out:hover,
.log-out:hover svg {
  color: var(--red-color);
}

.profile .profile-info {
  flex: 1;
}

.profile-info .info {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
  gap: 20px;
  text-transform: capitalize;
}

.info .image {
  position: relative;
}

.info label {
  position: absolute;
  bottom: 3px;
  right: 3px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: var(--main-color);
  color: white;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: var(--main-transition);
}

.info label:hover {
  background-color: var(--hover-color);
}

.info img {
  width: 130px;
  height: 130px;
  border-radius: 50%;
}

.info p {
  color: #666;
}

.proifle-form {
  position: relative;
}

.proifle-form form {
  width: 570px;
  max-width: 100%;
  margin: auto;
  margin-top: 30px;
}

.proifle-form form input {
  text-align: center;
}

.proifle-form form label {
  margin-bottom: 4px !important;
  font-size: 15px;
}

:focus::-webkit-input-placeholder {
  opacity: 0;
  -webkit-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
}

input:focus::-moz-placeholder {
  opacity: 0;
  -moz-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
}

input:focus:-moz-placeholder {
  opacity: 0;
  -moz-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
}

input:focus:-ms-input-placeholder {
  opacity: 0;
  -ms-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
}







.proifle-form form .submit {
  width: 95%;
  color: var(--white-color);
  background-color: var(--main-color);
  padding: 10px 15px;
  margin: 10px;
  transition: var(--main-transition);
}

.proifle-form form .submit:hover {
  background-color: var(--hover-color);
}

@media (max-width:767px) {
  .profile {
    flex-direction: column;
  }

  .log-out {
    right: 10px;
  }

  .profile-info {
    width: 100%;

  }

  .info img {
    width: 150px;
    height: 150px;
  }

  .info h3 {
    font-size: 15px;
  }



  .proifle-form {
    width: 100%;
  }

  .proifle-form form {
    width: 100%;
  }

  .proifle-form form input {
    width: 100%;
  }

}