.profile-page {
  margin: 15px;
  /* grid-template-columns: repeat(auto-fill, minmax(550px, 1fr)) !important; */
  display: block !important;
}

.profile-page .avatar-box {
  flex: 2 !important;
  max-width: 100%;
}

.profile-page .avatar-box .level {
  background-color: var(--gray-color);
  overflow: hidden;
  width: 75%;
  height: 6px;
  margin: 15px auto;
}

.profile-page .avatar-box .level span {
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  background-color: var(--main-color);
}

.profile-page .info-box {
  flex: 3 !important;
}

@media(min-width: 992px) {
  .profile-page .avatar-box {
    width: 300px;
  }
}

@media(min-width: 768px) {
  .profile-page .avatar-box {
    border-right: 1px solid #EEE;
  }
}

.profile-page .avatar-box img {
  width: 120px;
}

.profile-page .info-box .box:hover {
  background-color: #f9f9f9;
  transition: .3s;
}

.profile-page .info-box .box>div {
  min-width: 250px;
  padding: 10px 0 0;
  font-size: 17px;
}

@media(max-width: 767px) {
  .profile-page {
    margin: 10px;
    overflow: hidden;
  }


  .profile-page .overview {
    padding: 10px;
    flex-direction: column;
  }

  .profile-page .avatar-box {
    max-width: 100%;
    padding: 10px;
  }

  .profile-page .avatar-box img {
    width: 100px;
  }

  .profile-page .info-box .box>div {
    min-width: 0;
    max-width: 100%;
    font-size: 14px;
  }

  .profile-page .info-box .box>div:last-child {
    width: fit-content;
    margin: auto;
  }

  .profile-page .info-box .box {
    padding: 20px 0;
    flex-direction: column;
  }
}