.page .content .grid-page {
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
}

@media (max-width: 767px) {
  .page .content .grid-page {
    grid-template-columns: repeat(auto-fill, 100%);
  }

  .setting-info {
    width: calc(100% - 60px) !important;
    margin-top: 0 !important;
  }

  .setting .info {
    flex-direction: column;

  }

  .info .text {
    text-align: center;
  }
}


.setting .setting-info {
  width: 100%;
}

.setting-info .info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  text-transform: capitalize;
}

.info .image {
  position: relative;
}

.info label {
  position: absolute;
  width: 25px;
  height: 25px;
  bottom: 3px;
  right: 3px;
  border-radius: 50%;
  background-color: var(--main-color);
  color: white;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: var(--main-transition);
}

.info label:hover {
  background-color: var(--hover-color);
}

.info img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

.info p {
  color: #666;
}

.setting-form {
  position: relative;
  margin: auto;
  margin-top: 30px;

}

.setting-form form {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.setting-form form input {
  text-align: center;
  background-color: #eee;
  color: var(--black-color) !important;
}

.setting-form form input:focus {
  background-color: #eee;
}

.setting-form form input::placeholder {
  color: var(--black-color) !important;
}

.contact .form input:focus {
  border-color: var(--main-color);
  box-shadow: 0 0 0 2px rgba(80, 135, 238, 0.918) !important;
}

.setting-form form label {
  margin-bottom: 4px !important;
  font-size: 15px;
}

/* :focus::-webkit-input-placeholder {
  opacity: 0;
  -webkit-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
}

input:focus::-moz-placeholder {
  opacity: 0;
  -moz-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
}

input:focus:-moz-placeholder {
  opacity: 0;
  -moz-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
}

input:focus:-ms-input-placeholder {
  opacity: 0;
  -ms-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
} */

.setting-form form .submit {
  width: 250px;
  max-width: 100%;
  margin: 10px auto 0;
  color: var(--white-color);
  background-color: var(--main-color);
  padding: 10px;
  transition: var(--main-transition);
}

.setting-form form .submit:hover {
  background-color: var(--hover-color);
}


/* Options */
.option-box {
  background-color: var(--gray-color);
  text-align: center;
  margin-bottom: 15px;
  padding: 15px;
}

.colors-list li {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  cursor: pointer;
  opacity: .5;
}

.option-box .colors-list li.active {
  /* border: 2px solid var(--white-color); */
  opacity: 1;
}

.option-box .colors-list li:first-child {
  background-color: #0075ff;
}

.option-box .colors-list li:nth-child(2) {
  background-color: #ff3150;
}

.option-box .colors-list li:nth-child(3) {
  background-color: #ff9800;
}

.option-box .colors-list li:nth-child(4) {
  background-color: green;
}

.option-box .colors-list li:last-child {
  background-color: #e91e63;
}


/* Toggle Switch */
.toggle-checkbox {
  -webkit-appearance: none;
  appearance: none;
}

.toggle-switch {
  position: relative;
  width: 78px;
  height: 32px;
  background-color: #DDD;
  border-radius: 16px;
  cursor: pointer;
  transition: .3s all;
}

.toggle-switch::before {
  position: absolute;
  content: '';
  background-color: white;
  left: 4px;
  top: 4px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  transition: .3s all;
  display: flex;
  justify-content: center;
  align-items: center;
}

.toggle-checkbox:checked+.toggle-switch::before {
  left: 50px;
}

.toggle-checkbox:checked+.toggle-switch {
  background-color: var(--main-color);
}

/* Toggle Switch */
input.toggle {
  display: none;
}

input.toggle:checked+label {
  border-color: var(--main-color);
  color: var(--main-color);
}

input.toggle+label {
  /* background-color: red; */
  border: 2px solid #777;
  padding: 8px;
  border-radius: 6px;
  cursor: pointer;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

input.toggle+label h5 {
  margin: 0 !important;
  font-size: 17px;
}