:root {
  --main-color: #0075ff;
  --hover-color: #002596;
  --orange-color: #ff4335;
  --green-color: #009688;
  --violet-color: #d563e3;
  --pink-color: #df42b1;
  --red-color: #fc0026;
  --yellow-color: #ffc55c;
  --white-color: #FFF;
  --gray-color: #f1f5f9;
  --black-color: #000;
  --section-bg: #151853;
  --section-gradient: linear-gradient(145deg, #5059ddd7 0%, #df42b0d8 100%);
  --btn-gradient: linear-gradient(to right bottom, #0075ff, #0960e4, #0b4cca, #0738b0, #002596);
  --main-transition: .5s;
}

* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: var(--gray-color);
  position: relative;
  font-family: Arial;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  box-shadow: 0 0 15px var(--main-color) inset;
}

::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
  box-shadow: 0 0 50px var(--main-color);
}

input[type="number"]::-webkit-inner-spin-button {
  appearance: none;
}

/* Start Components */
.btn-bg {
  background-image: var(--btn-gradient) !important;
  position: relative;
  overflow: hidden;
  z-index: 1;
  border: none;
  transition: var(--main-transition) !important;
}

.btn-bg:hover {
  color: var(--white-color) !important;
}

.btn-bg::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background-color: white;
  background-color: #002596;
  height: 100%;
  width: 0;
  z-index: -1;
  transition: var(--main-transition) !important;
}

.btn-bg:hover::before {
  width: 100%;
}

button:hover svg {
  animation: opacity-change 1s .3s linear infinite;
}